/.vs/ColOperadSn/v16/Browse.VC.db-shm
/.vs/ColOperadSn/v16/Browse.VC.db-wal
/.vs/ColOperadSn/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ColOperadSn.sln
/ColOperadSn.vcxproj
/ColOperadSn.vcxproj.filters
/ColOperadSn.vcxproj.user
/.vs/ColOperadSn/v16/.suo
/.vs/ColOperadSn/v16/Browse.VC.db
