/.vs/ColOperadSn/v16/Browse.VC.db-shm
/.vs/ColOperadSn/v16/Browse.VC.db-wal
/.vs/ColOperadSn/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ColOperadSn.sln
/ColOperadSn.vcxproj
/ColOperadSn.vcxproj.filters
/ColOperadSn.vcxproj.user
/.vs/ColOperadSn/v16/.suo
/.vs/ColOperadSn/v16/Browse.VC.db
/SymGroupUnitTests/SymGroupUnitTests.vcxproj
/SymGroupUnitTests/SymGroupUnitTests.vcxproj.filters
/SymGroupUnitTests/SymGroupUnitTests.vcxproj.user
/.vs/ColOperadSn/v16/ipch/3a6f9c3b67b0256f.ipch
/.vs/ColOperadSn/v16/ipch/509090fc53a936d5.ipch
/.vs/ColOperadSn/v16/ipch/5f382486bd0ca6e0.ipch
/.vs/ColOperadSn/v16/ipch/608ea665e35d6f4b.ipch
/.vs/ColOperadSn/v16/ipch/7a2c60719b9b1a79.ipch
/.vs/ColOperadSn/v16/ipch/AutoPCH/34282551622ca203/SYM_GROUP.ipch
/.vs/ColOperadSn/v16/ipch/AutoPCH/5552dedc00cf4f1e/SIMPLE_TESTS.ipch
/.vs/ColOperadSn/v16/ipch/AutoPCH/cfac16d3a168929/TREE.ipch
/.vs/ColOperadSn/v16/ipch/AutoPCH/d46318482923b3f6/UNITTEST1.ipch
/.vs/ColOperadSn/v16/ipch/bd6ab9f15fa3339e.ipch
/.vs/ColOperadSn/v16/Solution.VC.db
/.vs/ColOperadSn/v16/TestStore/0/000.testlog
/.vs/ColOperadSn/v16/TestStore/0/testlog.manifest
/Debug/ColOperadSn.Build.CppClean.log
/Debug/ColOperadSn.exe.recipe
/Debug/ColOperadSn.lib
/Debug/ColOperadSn.lib.recipe
/Debug/ColOperadSn.log
/Debug/ColOperadSn.pdb
/Debug/ColOperadSn.tlog/CL.command.1.tlog
/Debug/ColOperadSn.tlog/CL.read.1.tlog
/Debug/ColOperadSn.tlog/CL.write.1.tlog
/Debug/ColOperadSn.tlog/ColOperadSn.lastbuildstate
/Debug/ColOperadSn.tlog/Lib.command.1.tlog
/Debug/ColOperadSn.tlog/Lib-link.read.1.tlog
/Debug/ColOperadSn.tlog/Lib-link.write.1.tlog
/Debug/ColOperadSn.vcxproj.FileListAbsolute.txt
/Debug/SymGroup.idb
/Debug/SymGroup.lib
/Debug/SymGroup.pdb
/Debug/SymGroupUnitTests.dll
/Debug/SymGroupUnitTests.exe
/Debug/SymGroupUnitTests.exe.gta.testdurations
/Debug/SymGroupUnitTests.exp
/Debug/SymGroupUnitTests.lib
/Debug/SymGroupUnitTests.pdb
/Debug/SymGroupUnitTests2.exe
/Debug/tree.obj
/Debug/UnitTest1.dll
/Debug/UnitTest1.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/.signature.p7s
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1028/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1029/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1031/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1033/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1034/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1036/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1040/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1041/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1042/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1045/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1046/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1049/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1055/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/2052/googletest.propertiesui.xml
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest_pred_impl.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest_prod.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-death-test.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-message.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-param-test.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-param-test.h.pump
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-printers.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-spi.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-test-part.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-typed-test.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/gtest.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/gtest-port.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/gtest-printers.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/README.md
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-death-test-internal.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-filepath.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-internal.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-linked_ptr.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-param-util.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-param-util-generated.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-param-util-generated.h.pump
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-port.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-port-arch.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-string.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-tuple.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-tuple.h.pump
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-type-util.h
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-type-util.h.pump
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.targets
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_main.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_maind.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtestd.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_main.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_maind.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtestd.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.lib
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.pdb
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/license (MIT).txt
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4.nupkg
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/ThirdPartyNotices.txt
/SymGroup/Debug/sym_group.obj
/SymGroup/Debug/SymGroup.Build.CppClean.log
/SymGroup/Debug/SymGroup.exe.recipe
/SymGroup/Debug/SymGroup.lib.recipe
/SymGroup/Debug/SymGroup.log
/SymGroup/Debug/SymGroup.tlog/CL.command.1.tlog
/SymGroup/Debug/SymGroup.tlog/CL.read.1.tlog
/SymGroup/Debug/SymGroup.tlog/CL.write.1.tlog
/SymGroup/Debug/SymGroup.tlog/Lib.command.1.tlog
/SymGroup/Debug/SymGroup.tlog/Lib-link.read.1.tlog
/SymGroup/Debug/SymGroup.tlog/Lib-link.write.1.tlog
/SymGroup/Debug/SymGroup.tlog/SymGroup.lastbuildstate
/SymGroup/Debug/SymGroup.vcxproj.FileListAbsolute.txt
/SymGroup/SymGroup.vcxproj
/SymGroup/SymGroup.vcxproj.filters
/SymGroup/SymGroup.vcxproj.user
/SymGroupUnitTests/Debug/SymGroup.15431591.tlog/CL.command.1.tlog
/SymGroupUnitTests/Debug/SymGroup.15431591.tlog/CL.read.1.tlog
/SymGroupUnitTests/Debug/SymGroup.15431591.tlog/CL.write.1.tlog
/SymGroupUnitTests/Debug/SymGroup.15431591.tlog/link.command.1.tlog
/SymGroupUnitTests/Debug/SymGroup.15431591.tlog/link.read.1.tlog
/SymGroupUnitTests/Debug/SymGroup.15431591.tlog/link.write.1.tlog
/SymGroupUnitTests/Debug/SymGroup.15431591.tlog/SymGroupUnitTests.lastbuildstate
/SymGroupUnitTests/Debug/SymGroup.15431591.tlog/SymGroupUnitTests.write.1u.tlog
/SymGroupUnitTests/Debug/SymGroupUnitTests.dll.recipe
/SymGroupUnitTests/Debug/SymGroupUnitTests.ilk
/SymGroupUnitTests/Debug/SymGroupUnitTests.log
/SymGroupUnitTests/Debug/SymGroupUnitTests.obj
/SymGroupUnitTests/Debug/SymGroupUnitTests.vcxproj.FileListAbsolute.txt
/SymGroupUnitTests/Debug/vc142.idb
/SymGroupUnitTests/Debug/vc142.pdb
/SymGroupUnitTests/Debug/SymGroupUnitTests.Build.CppClean.log
